.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title{
  text-align: center;
}

.input-row{
  display: flex;
  justify-content: space-between;
}

.input-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 160px;
  justify-items: center;
}

.input-box{
  width: 150%;
  height: 100px;
  text-align: left;
  vertical-align: top;
  white-space: pre-wrap;
}

.status{
  text-align: center;
  font-size: 15px;
}

.reverse-button{
  background-image: url('../img/reverse-button.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 47.5px;
  height: 32.5px;
  border: 0;
}

.reverse-button:hover{
  background-image: url('../img/reverse-button-onclick.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 47.5px;
  height: 32.5px;
  border: 0;
}

.submit-button{
  background-image: url('../img/submit-button.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 95px;
  height: 32.5px;
  border: 0;
}

.submit-button:hover{
  background-image: url('../img/submit-button-onclick.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 95px;
  height: 32.5px;
  border: 0;
}

.table-container{
  max-height: 300px;
  max-width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th, td{
  max-width: 500px;
  font-size: 15px;
  border: 1px solid #ddd;
  padding: 8px;
}

td{
  overflow-wrap: break-word;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
